/* Resets */
body, p, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: inherit;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

/* Typography */
:root {
    font-size: 10px;
}

body {
    font-size: 1.4rem;
}

/* color */
.color_orange {color: orange !important;}
.color_tomato {color: tomato !important;}
.color_purple {color: purple !important;}
.color_white  {color: white !important;}
.color_blue   {color: steelblue !important;}
.color_green  {color: greenyellow !important;}
.color_brown  {color: brown !important;}

/* Commons */
.rating {
    display: inline-block;
    background-image: url(./images/star.png);
    background-size: 100px 40px;
    width: 100px;
    height: 20px;
    overflow: hidden;
}

.rating::before {
    content: ' ';
    display: block;
    background-image: inherit;
    background-size: inherit;
    background-position: left bottom;
    width: 0;
    height: inherit;
}

.rating[data-rate="0.5"]::before { width: 10%; }
.rating[data-rate="1"]::before { width: 20%; }
.rating[data-rate="1.5"]::before { width: 30%; }
.rating[data-rate="2"]::before { width: 40%; }
.rating[data-rate="2.5"]::before { width: 50%; }
.rating[data-rate="3"]::before { width: 60%; }
.rating[data-rate="3.5"]::before { width: 70%; }
.rating[data-rate="4"]::before { width: 80%; }
.rating[data-rate="4.5"]::before { width: 90%; }
.rating[data-rate="5"]::before { width: 100%; }

/* Layouts */
.l_wrapper {
    width: auto;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 40px;
}

.l_row {
    display: grid; 
    grid-template-columns: repeat( 12, 1fr ); 
    gap: 10px;
}
  
.l_row_thin { gap: 4px; }
.l_row_wide { gap: 20px; }

.l_col_12 { grid-column: span 12; }
.l_col_11 { grid-column: span 11; }
.l_col_10 { grid-column: span 10; }
.l_col_9  { grid-column: span 9; }
.l_col_8  { grid-column: span 8; }
.l_col_7  { grid-column: span 7; }
.l_col_6  { grid-column: span 6; }
.l_col_5  { grid-column: span 5; }
.l_col_4  { grid-column: span 4; }
.l_col_3  { grid-column: span 3; }
.l_col_2  { grid-column: span 2; }
.l_col_1  { grid-column: span 1; }

/* Components */
.header {
    background-color: rgb(49, 55, 62);
}

.header-logo {
    display: inline-block;
    width: 250px;
    margin: 20px 0;
}

.header-box {
    position: relative;
}

.header-menu {
    display: flex;
    color: rgb(148, 152, 155);
    background-color: rgb(40, 44, 50);
}

.header-menu-items a {
    display: inline-block;
    font-size: 1.5rem;
    padding: 15px 20px;
}

.header-menu-items a:hover {
    background-color: rgb(29, 30, 36);
    color: white;
}

.header-menu-items a:focus {
    background-color: rgb(29, 30, 36);
    color: white;
}

.header-point {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.main {
    background-color: rgb(29, 30, 34);
}

.section {
    padding: 30px 0;
}

.card {
    background-color: rgb(17, 17, 17);
    border-radius: 10px;
    overflow: hidden;
    font-size: 1.2rem;
    display: block;
}

.card-text {
    padding: 20px 10px;
    border-top: solid 5px;
    position: relative;
}

.card-text::before {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.95+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.95) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2000000',GradientType=0 ); /* IE6-9 */
}

.card-text h2 {
    font-size: 2.2em;
    font-weight: 400;
    margin-bottom: 15px;
}

.card-text p {
    color: rgb(106, 106, 106);
    font-size: 1.2em;
    line-height: 1.5;
}

.card.type_large .card-text h2 {
    font-weight: bold;
}

.card.type_large .card-text p {
    font-size: 1.5em;
    font-weight: 600;
}

.card.type_clean::before {
    /* all: unset; */
    display: none;
}

.footer {
    background-color: rgb(24, 28, 30);
    color: rgb(102, 102, 102);
    border-top: 1px solid rgb(102, 102, 102);
}

.footer p {
    padding: 35px 0;
}

/** page.html **/
.article {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.article-sidebar {
    flex-basis: 230px;
    flex-shrink: 0;
    
}

.article-box {
    background-color: rgb(235, 235, 235);
    flex-grow: 1;
    border-radius: 10px;
    overflow: hidden;
}

.article-box-cover {
    z-index: -1;
}

.article-detail {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.article-detail-icon {
    width: 100px;
    height: 100px;
    /* transform: translateY(-70px) */
    margin-top: -70px;
}

.article-detail-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.article-detail-title h2 {
    font-size: 2em;
    font-weight: bold;
    color: green;
    margin-right: auto;
}

.article-detail-title h2 span.type_year {
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 5px;
    color: rgb(142, 142, 142);
}

.article-detail-text p {
    color: rgb(142, 142, 142);
    font-size: 1.7em;
}
/* 
.article-detail-text img {
    display: inline-block;
} */


/* Mediaquries */


/* Tablet */
@media ( max-width: 720px ) {
    .l_col_tablet_12 { grid-column: span 12; }
    .l_col_tablet_11 { grid-column: span 11; }
    .l_col_tablet_10 { grid-column: span 10; }
    .l_col_tablet_9  { grid-column: span 9; }
    .l_col_tablet_8  { grid-column: span 8; }
    .l_col_tablet_7  { grid-column: span 7; }
    .l_col_tablet_6  { grid-column: span 6; }
    .l_col_tablet_5  { grid-column: span 5; }
    .l_col_tablet_4  { grid-column: span 4; }
    .l_col_tablet_3  { grid-column: span 3; }
    .l_col_tablet_2  { grid-column: span 2; }
    .l_col_tablet_1  { grid-column: span 1; }

    .header-box {
        text-align: center;
    }

    .header-menu {
        justify-content: center;
    }

    .header-point {
        display: none;
    }

    .article-sidebar {
        display: none;
    }
} 

/* Mobile */
@media ( max-width: 540px ) {
    .l_col_tablet_12 { grid-column: span 12; }
    .l_col_tablet_11 { grid-column: span 11; }
    .l_col_tablet_10 { grid-column: span 10; }
    .l_col_tablet_9  { grid-column: span 9; }
    .l_col_tablet_8  { grid-column: span 8; }
    .l_col_tablet_7  { grid-column: span 7; }
    .l_col_tablet_6  { grid-column: span 6; }
    .l_col_tablet_5  { grid-column: span 5; }
    .l_col_tablet_4  { grid-column: span 4; }
    .l_col_tablet_3  { grid-column: span 3; }
    .l_col_tablet_2  { grid-column: span 2; }
    .l_col_tablet_1  { grid-column: span 1; }

    .article-detail {
        /* flex-direction: column; */
        display: block;
        align-items: center;
        text-align: center;
    }
    
    .article-detail-icon {
        /* transform: translateY(0px); */

    }

    .article-detail-title {
        /* flex-direction: column; */
        display: block;
    }
/* 
    .article-detail-title h2 {
        margin: 0 auto;
    } */
} 
